* {
	/*Get rid of the highlight when you tap a link*/
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#browseContent {
	margin-top: 1em;
}

#start, #end, #editStart, #editEnd {
	color: white !important;
}

#clearAllDiv{
	margin: 0 1em;
}

.error {
	display: block;
	margin: 10px 0;
	color: red;
}
