* {
	/*Get rid of the highlight when you tap a link*/
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/*body {
	font-family: sans-serif;
	font-size: 14px;
	color: white;
	background: -webkit-linear-gradient(top, #444, #222);
	text-shadow: 0 /*{a-body-shadow-x}*/ 1px /*{a-body-shadow-y}*/ 1px /*{a-body-shadow-radius}*/ #111 /*{a-body-shadow-color}*/;
}*/

.links {
	border-right: solid 1px #000;
	padding-right: .3em;
}

#browseContent {
	margin-top: 1em;
}

.catView {
	margin-left: 1em;
}

#searchContainer {
	margin: auto;
}

.error {
	display: block;
	margin: 10px 0;
	color: red;
}

.editLinks {
	padding-top: .5em;
	padding-right: 2em;
	background-color: transparent;
}

ul {
	list-style-type: none;
	margin: 1.3em 0;
	padding: 0;
}

form {
	width: 20em;
	margin: auto;
}

#items {
	width: 21em;
}

#highlightGreen {
	color: green;
	text-shadow: 0 0 0 #444;
	width: 21em;
}

#highlightYellow {
	color: yellow;
	text-shadow: 0 0 0 #444;
	width: 21em;
}

#highlightRed {
	color: red;
	text-shadow: 0 0 0 #444;
	width: 21em;
}

#pic {
	float: right;
	padding-right: 3px;
	padding-top: 3px;
}